<h1>Edit Contact: <%= @contact.first_name %> <%= @contact.last_name %> </h1>

<form action="/contact/<%= @contact.first_name %>_<%= @contact.last_name %>" method="post">
  <div class="form-group">
    <label for="job-title">Job Title</label>
    <input type="text" name="job-title" class="form-control" value="<%= @contact.job_title %>">
  </div>
  <div class="form-group">
    <label for="company">Company</label>
    <input type="text" name="company" class="form-control" value="<%= @contact.company %>">
  </div>
  <div class="form-group">
    <label for="contact-type">Contact Type</label>
    <input type="text" name="contact-type" class="form-control" value="<%= @contact.contact_type %>">
  </div>

  <h4>Phone</h4>
  <% count = 0 %>
  <% @contact.phone.each do |type, number| %>
    <div class="form-group">
      <label for="phone-number-<%= count %>">Number</label>
      <input type="tel" name="phone-number-<%= count %>" class="form-control" value="<%= number %>">
    </div>
    <div class="form-group">
      <label for="phone-type-<%= count %>">Type</label>
      <input type="text" name="phone-type-<%= count %>" class="form-control" value="<%= type %>">
    </div>
    <% count += 1 %>
  <% end %>
  <h5>Add Phone:<h5>
  <div class="form-group">
    <label for="phone-number-<%= count %>">Number</label>
    <input type="tel" name="phone-number-<%= count %>" class="form-control">
  </div>
  <div class="form-group">
    <label for="phone-type-<%= count %>">Type</label>
    <input type="text" name="phone-type-<%= count %>" class="form-control">
  </div>

  <h4>Email</h4>
  <% count = 0 %>
  <% @contact.email.each do |type, email| %>
    <div class="form-group">
      <label for="email-<%= count %>">Email</label>
      <input type="text" name="email-<%= count %>" class="form-control" value="<%= email %>">
    </div>
    <div class="form-group">
      <label for="email-type-<%= count %>">Type</label>
      <input type="text" name="email-type-<%= count %>" class="form-control" value="<%= type %>">
    </div>
    <% count += 1 %>
  <% end %>
  <h5>Add Email:<h5>
  <div class="form-group">
    <label for="email-<%= count %>">Email</label>
    <input type="email" name="email-<%= count %>" class="form-control">
  </div>
  <div class="form-group">
    <label for="email-type">Type</label>
    <input type="text" name="email-type-<%= count %>" class="form-control">
  </div>

  <h4>Address</h4>
  <% count = 0 %>
  <% @contact.address.each do |type, address| %>
    <div class="form-group">
      <label for="address-<%= count %>">Address</label>
      <input type="text" name="address-<%= count %>" class="form-control" value="<%= address %>">
    </div>
    <div class="form-group">
      <label for="address-type-<%= count %>">Type</label>
      <input type="text" name="address-type-<%= count %>" class="form-control" value="<%= type %>">
    </div>
    <% count += 1 %>
  <% end %>
  <h5>Add Address:<h5>
  <div class="form-group">
    <label for="address-<%= count %>">Address</label>
    <input type="text" name="address-<%= count %>" class="form-control">
  </div>
  <div class="form-group">
    <label for="address-type-<%= count %>">Type</label>
    <input type="text" name="address-type-<%= count %>" class="form-control">
  </div>

  <button type="submit" class="btn">Update</button>
